<html data-ng-app="pomodoro">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    </head>
  <body data-ng-controller="MainCtrl as pomo">
        <div name="slide1" id="slide1" class="slide">
            <div class="centered-text">
                <hr></hr>
                <h1>FreeCodeCamp</h1>
                <div class="set-timer">
                <span>break length</span><br>
                    <h3 class="plusMinus" data-ng-click="lowerBreak()">-</h3><h2 class="plusMinus">{{timers.cooldown}}</h2><h3 class="plusMinus" data-ng-click="addBreak()">+</h3>
                </div>
                
                
                <div class="set-timer">
                <span>session length</span><br>
                    <h3 class="plusMinus" data-ng-click="lowerSession()">-</h3><h2 class="plusMinus">{{timers.session}}</h2><h3 class="plusMinus" data-ng-click="addSession()">+</h3>
                </div>
                
                
                
                
                <article class="clock">
                  <div class="progress-container">
                    <div class="progress-text">
                        <h2>{{currentMode}}</h2>
                        <h2>{{timers.session}}</h2>
                    </div>
                  </div>
                </article>
             <hr></hr>
        </div>
  </body>
</html>
      