.link {
    cursor:pointer;
}

.slide {
  box-sizing: border-box;
  padding: 5vh;
  min-height: 100vh;
  width: 100vw;
    background: #333;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index:-1;
}



.centered-text{
    text-align: center;
}
#slide1{
    font-family: "Raleway";
    color: #fff;
}
#slide1 h1{
    font-family: "Pacifico";
    font-size:5em;
}
#slide1 h2{
    font-size:5em;
}
#slide1 h3{
    font-size:3em;
}
.plusMinus{
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#slide1 .set-timer{
    display: inline-block;
    margin: 3vw;
}

#slide1 span{
    color: #fff;
    text-transform: uppercase;
}






.clock {
  cursor: pointer;    
  border:3px solid green;
  border-radius: 50%;
    
/* centered circle with a minimum size*/    
  height: 30vw;
  width:30vw;
  margin:auto;
  min-height: 300px;
  min-width: 300px;
     
  position: relative; /*makes a point for child containers to connect to*/
  overflow:hidden; /*limit childs within*/
}

.progress-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin:5px;
  border-radius: 50%;
  overflow:hidden; /*limit childs within*/
}

.progress-bar{
  position: absolute;
  background-color: green;
    
  width:0%;
}

.progress-text {
  position:relative; /* keep middle alignment*/
  top: 50%; /*align vertical*/
  transform: translateY(-50%); /*align vertical*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}